/**
  * @name no-annoying-buttons
  * @author murderpigs
  * @source https://github.com/murderpigs/no-annoying-buttons
  * @description configurable css theme to remove annoying buttons in discord 
  * @version 1.2
*/

/* thank you to u/Rederpz for the removal of nitro button code*/

/* to enable a specific
button, comment out or remove
a given section of code, all
buttons removed are labeled
accordingly */

/* >> top buttons */

/* bookmarks button; english only :( */
button[aria-label="Bookmarks"], div[aria-label="Bookmarks"] {
    display: none;
}

/* >> sidebar buttons */

/* >> midbar buttons */

/* > create dm */

/*english only*/

button[aria-label="Create DM"], div[aria-label="Create DM"]{
    display: none;
}

/* <-- remove for all languages

.button__6af3a{
    display: none;
}

*/ 

/* formatting fix to remove nitro and shop buttons */

ul > li[role="listitem"]{
    margin-bottom: -7px;
}

/* shop button */

ul > li[role="listitem"] a[href="/shop"]{
    display: none;
}

/* join nitro button */

ul > li[role="listitem"] a[href="/store"] {
	display: none;
}

/* discover servers*/
div.circleIconButton__5bc7e.discoveryIcon_ef3116{
    display: none;
}

/* >> chatbox buttons */

/* app launcher */
button[aria-label="Apps"], div.channelAppLauncher_e6e74f {
    display: none;
}

/* emoji picker */
button[aria-label="Select emoji"],  div.emojiButtonNormal__04eed {
    display: none;
}

/* send a gift; english only, see buttom for notes */
button[aria-label="Send a gift"], div[aria-label="Send a gift"] {
    display: none;
}

/* gif picker; english only, see buttom for notes */
button[aria-label="Open GIF picker"], div[aria-label="Open GIF picker"] {
    display: none;
}

/* sticker picker; english only, see buttom for notes */
button[aria-label="Open sticker picker"], div[aria-label="Open sticker picker"] {
    display: none;
}


/* >> all languages patch, but removes every button :( */

/*

.button__24af7.button__74017 {
  display: none;
}

remove to enable >> */
