/**
  * @name no-annoying-buttons
  * @author i & co.
  * @source https://github.com/iugbt/no-annoying-buttons
  * @description configurable css theme to remove annoying buttons in discord 
  * @version 1.1
*/



/* to enable a specific
button, comment out or remove
a given section of code, all
buttons removed are labeled
accordingly */

/* >> top buttons */

/* bookmarks button; english only :( */
button[aria-label="Bookmarks"], div[aria-label="Bookmarks"] {
    display: none;
}

/* >> sidebar buttons */

/* discover servers*/
.footer_d71945{
display:none;
}

/* >> chatbox buttons */

/* app launcher */
button[aria-label="Apps"], div.channelAppLauncher_e6e74f {
    display: none;
}

/* emoji picker */
button[aria-label="Select emoji"], div.emojiButtonNormal__04eed {
    display: none;
}

/* send a gift; english only, see buttom for notes */
button[aria-label="Send a gift"], div[aria-label="Send a gift"] {
    display: none;
}

/* gif picker; english only, see buttom for notes */
button[aria-label="Open GIF picker"], div[aria-label="Open GIF picker"] {
    display: none;
}

/* sticker picker; english only, see buttom for notes */
button[aria-label="Open sticker picker"], div[aria-label="Open sticker picker"] {
    display: none;
}


/* >> all languages patch, but removes every button :( */

.button__24af7.button__74017 {
  display: none;
}

/* << remove to enable

*/

/* sorry for inconsistent code,
this code was derived from a
thread, and i put very little
effort into coding this beyond
pre-written blocks found in
said thread :( */
